{% extends "../layout.njk" %}
{% block body %}
    <form method="post">
    <label>Name :</label>
    <input type="text" name="name" placeholder="Enter Name of Application">
    <label>Description :</label>
    <textarea name="description" placeholder="Enter Description of Application"></textarea>
    {# <button type="submit" value="Submit">Submit</button> #}
    <button type="submit"> Add Application</button>
    </form>
{% endblock %}