{% extends "../layout.njk" %}
{% block body %}
    <from>
    <label>Name:</label>
    <input type="text" name="name">
    <label>Description</label>
    <textarea name="description"></textarea>
    </from>
{% endblock %}