{% extends "../layout.njk" %}
{% block body %}
    <h1>Add New Application</h1>
    <form method="post">
    <label>Department</label>
    <select name="department_id">
    {% for department in departments %}
    <option value={{department._id}}> {{department.name}}</option>
    {% endfor %}
    </select>
    <label>Name :</label>
    <input type="text" name="name" placeholder="Enter Name of Application">
    <label>Description :</label>
    <textarea name="description" placeholder="Enter Description of Application"></textarea>
    {# <button type="submit" value="Submit">Submit</button> #}
    <button type="submit"> Add Application</button>
    </form>
{% endblock %}