{% extends "../layout.njk" %}
{% block body %}
<div class="white">
<h1>Application ID {{application._id}}</h1>
<label>Name :</label>
<label>Description :</label>
<label>Created At :</label>
<label>Created By :</label>
<label>Follow Up Detail :</label>
<label>DeadLine :</label>
<label>Current Status :</label>    
</div>
{% endblock %}