{% extends "../layout.njk" %}
{% block body %}
<div class="white">
<h1>Application ID {{application._id}}</h1>
<label>Name :</label>
<label>Description :</label>
<label>Created At :</label>
<label>Created By :</label>
<label>Follow Up Detail :</label>
<label>DeadLine :</label>
<label>Current Status :</label>    
</div>
<div>
<form method="post">
<label>Follow up Details :</label>
    <textarea name="follow_up_details" placeholder="Update Follow Up Details of Application"></textarea>
    <input type="hidden" name="application_id" value="null">
    <button type="submit"> Update Details</button>
</form>
</div>
{% endblock %}