<html>
    <head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
    {% if msg %}
    <div class="msg">{{msg}}</div>
    {% endif %}
    <div class="main-panel">
    {% block body %}
        
    {% endblock %}
    </div>
    </body>
</html>