<html>
    <head>
    <link rel="stylesheet" href="stylesheets/style.css">
    </head>
    <body>
    <div class="main-panel">
    {% block body %}
        
    {% endblock %}
    </div>
    </body>
</html>